<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Edytuj</title>
</head>
<body>
    <form th:action="@{/admin/edit}" th:object="${user}"
          method="post" style="max-width: 600px; margin: 0 auto;">
        <input type="hidden" th:field="*{id}" />
        <div class="m-3">
            <div class="form-group row">
                <label class="col-4 col-form-label">Roles: </label>
                <div class="col-8">
                    <th:block th:each="role: ${listRoles}">
                        <input type="checkbox" th:field="*{roles}"
                               th:text="${role.name}" th:value="${role.id}" class="m-2" />
                    </th:block>
                </div>
            </div>

            <div>
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </div>
    </form>
</body>
</html>